* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #1e1e1e;
  --board: #1165b8;
  --ship: rgb(0, 106, 255);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--background);
  gap: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.board {
  display: flex;
  flex-direction: row;
}



.cell {
  height:40px;
  width: 40px;
  border: 1.5px solid var(--board);
  animation: fadeIn 0.5s ease-out;
}

.ship {
  background-color: var(--ship);
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}

